.footer {
  background-color: #000;
  padding: 80px 0;
}
.footer h5 {
  color: #40a2d8;
  margin: 0 0 20px;
}
.footer .footer-info {
  padding: 0 0 20px;
  border-bottom: 1px solid #fff;
}
.footer .about p {
  color: #fff;
}

.footer .quick-link li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
}
.footer .quick-link li a:before {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.footer .quick-link li a:hover:before {
  width: 100%;
}
.footer .quick-link li {
  margin: 0 0 10px;
}

.footer .contact p {
  color: #fff;
}

.footer .copyright {
  color: #40a2d8;
  font-weight: bolder;
  text-decoration: none;
}
.footer .copyright-info {
  color: #fff;
}
