.footer {
  background-color: #000;
  padding: 80px 0;
}
.footer h5 {
  color: #40a2d8;
  margin: 0 0 20px;
}
.footer .footer-info {
  padding: 0 0 20px;
  border-bottom: 1px solid #fff;
}
.footer .about p {
  color: #fff;
}

.footer .quick-link li a,
.footer .contact a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
}
.footer .quick-link li a:before,
.footer .contact a::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.footer .quick-link li a:hover:before,
.footer .contact a:hover::before {
  width: 100%;
}
.footer .quick-link li {
  margin: 0 0 10px;
}

.footer .contact p {
  color: #fff;
}

.footer .social-media {
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
  margin: 0;
}

.footer .social-media li {
  list-style: none;
  font-size: 28px;
  height: auto;
  width: auto;
  cursor: pointer;
}
.footer .social-media li {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.footer .social-media .wp:hover {
  color: green;
}

.footer .social-media .insta:hover {
  color: rgba(255, 0, 0, 0.492);
}
.footer .social-media .linkedin:hover,
.footer .social-media .twit:hover {
  color: blue;
}

.footer .copyright {
  color: #40a2d8;
  font-weight: bolder;
  text-decoration: none;
}
.footer .copyright-info {
  color: #fff;
}
