.navbar {
  position: sticky !important;
  background-color: #000;
  top: 0;
  z-index: 999;
}
.navbar .nav-link {
  color: #fff !important;
}
.navbar .nav-link:hover:not(.cart .nav-link) {
  color: #40a2d8 !important;
  opacity: 0.9;
}
.navbar .navbar-brand {
  color: #40a2d8;
}
.navbar .navbar-brand:hover {
  color: #40a2d8;
}
.navbar .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: #fff;
  border-radius: 20px;
}
.navbar .searchbar .btn {
  color: #fff;
  background-color: #40a2d8;
  padding: 3px 10px;
  border-radius: 50%;
}
.navbar .searchbar .btn svg {
  font-size: 12px;
}

.navbar .searchbar input {
  margin: 0 0 0 5px;
  border-radius: 0;
  border: none;
  font-size: 14px;
}

.navbar .searchbar input:focus {
  outline: none;
  border: none;
}
.cart .badge {
  background-color: #40a2d8;
  position: relative;
  top: -10px;
}
.navbar-toggler .navbar-toggler-icon svg {
  color: #40a2d8;
  width: 100%;
  height: auto;
}
