.login-container {
  background: url("../assets/abstract-textured-backgound.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 50px 15px;
  height: calc(100vh - 58px);
}
.login {
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  margin: 0 auto;
}
.login-container h1 {
  letter-spacing: 5px;
  font-size: 44px;
  color: #fff;
  font-weight: 900;
  margin: 0 0 20px;
}
.login-container label {
  color: #fff;
}
.login-main {
  display: flex;
  justify-content: center;
}
.login-btn,
.login-ggl-btn {
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
}
.btns-seperator {
  color: #fff;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}
.login-btn:hover,
.login-ggl-btn:hover {
  color: #355c7d;
  background-color: #fff;
}

.for-reg {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin: 15px 0 0;
  color: #fff;
}
.for-reg a {
  text-transform: uppercase;
  color: #2cd78d;
  text-decoration: none;
}
