.register-bg {
  background: url("../assets//register-image.jpg");
  background-size: cover;

  overflow-x: hidden;
  padding: 50px 15px;
}
.register {
  margin: 0 auto;
  backdrop-filter: blur(20px);
}
.register-bg h1 {
  letter-spacing: 5px;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
}

.form-box {
  padding: 30px;
  border-radius: 30px;
}
.reg-btn-main {
  display: flex;
  justify-content: center;
}

.reg-btn {
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
}
.reg-btn:hover {
  background-color: #fff;
  color: #3f2b96;
}
.alredy-login {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin: 15px 0 0;
  color: #fff;
}
.alredy-login a {
  text-transform: uppercase;
  color: #d8a3e5;
  text-decoration: none;
}

.register-bg label {
  color: #fff;
}
